<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="8.0.0.809" targetFramework="net472" />
  <package id="DotNetNuke.Web" version="8.0.0.809" targetFramework="net472" />
  <package id="DotNetNuke.Web.Client" version="8.0.0" targetFramework="net472" />
  <package id="DynamicQueryable" version="2.0.25" targetFramework="net472" />
  <package id="Jokenizer.Net" version="1.1.0" targetFramework="net472" />
  <package id="MaxMind.Db" version="2.4.0" targetFramework="net472" />
  <package id="MaxMind.GeoIP2" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net472" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
</packages>